@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap");
body {
  margin: 0px;
  padding: 0;
}

.banner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5em;
  height: 4.5em;
  top: 0;
  background-color: transparent;
}
.banner .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 3.5em;
  width: 12em;
}
.banner .ac-bot {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5em;
}
.banner .ac-bot a {
  text-decoration: none;
  color: white;
  margin: 0.7em;
  margin-top: 3em;
  margin-bottom: 3em;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 1em;
  cursor: pointer;
}
.banner .ac-bot a:hover {
  border-bottom: solid 3px #D58936;
}
.banner .logs {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5em;
}
.banner .account {
  display: none;
  align-items: center;
  justify-content: center;
}
.banner .account button.a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-right: -1em;
  color: #D58936;
  font-size: 1.2em;
  background-color: transparent;
  border: 2px solid #D58936;
  border-radius: 7px;
  padding: 0.3em 0.7em;
  transition: all 0.2s;
}
.banner .account button:hover {
  background-color: #D58936;
  color: white;
}
.banner .logs button {
  border: none;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 1em;
  cursor: pointer;
}
.banner .dropdown-center button {
  background-color: transparent;
  border: #ffffff solid 1px;
  border-radius: 7px;
  margin-right: 1.5em;
}
.banner .dropdown-menu {
  width: 5em;
  --bs-dropdown-min-width: 8.5rem;
}
.banner .dropdown-item {
  padding-left: 3.4rem;
}
.banner .dropdown-item:active {
  background-color: lightgray;
  color: black;
}
.banner .b2log {
  display: flex;
  background-color: #D58936;
  margin: 0.7em;
  margin-left: 0;
  padding: 0.6em 1.2em;
  color: #ffffff;
  border-radius: 7px;
  transition: background-color 0.2s;
}
.banner .b2log:hover {
  background-color: #a66a29;
}
@media (max-width: 1200px) {
  .banner .ac-bot {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .banner .logs {
    margin-top: 1em;
  }
  .banner .banner {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
@media (max-width: 300px) {
  .banner .ac-bot span {
    font-size: 0.7em;
  }
}

@media (max-width: 1200px) {
  .banner {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    top: 0;
    background-color: transparent;
  }
}
.background {
  background-image: url("https://wallpapercave.com/wp/wp10343429.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 105vh;
}

@media (max-width: 1200px) {
  .background {
    height: 125vh;
  }
}
@media (min-height: 740px) {
  .background {
    height: 140vh;
  }
}
@media (max-height: 670px) {
  .background {
    height: 165vh;
  }
}
@media (max-height: 420px) and (orientation: landscape) {
  .background {
    height: 70em;
  }
}
.main1 {
  height: 92vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 4em;
}
.main1 .containerm1-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  padding: 1.5em;
  margin-right: 1em;
  height: 35em;
  width: 35em;
  background-color: #ffffff;
  border-radius: 0.7em;
}
.main1 .topnew {
  margin: 0.8em;
  color: #D58936;
  font-size: 1.2em;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}
.main1 .topnew:hover {
  text-decoration: underline;
}
.main1 .topnew a {
  color: #D58936;
  text-decoration: none;
}
.main1 .topnew svg {
  margin-right: 0.5em;
  size: 3em;
}
.main1 .topnew #arrowicon {
  margin-left: 0.2em;
}
.main1 .middlenew h2 {
  font-size: 4em;
  font-weight: 700;
}
.main1 .middlenew p {
  font-size: 1.3em;
  font-weight: 500;
}
.main1 .botnew {
  display: flex;
  justify-content: center;
  margin: 0.3em;
}
.main1 .botnew #mailbut {
  border: lightgray solid 1px;
  border-radius: 5px;
  padding: 1.2em;
  width: 18em;
  margin-right: 1em;
  font-size: 1.2em;
}
.main1 .botnew #begbut {
  border: none;
  border-radius: 5px;
  padding: 1.2em;
  width: 8em;
  font-size: 1.2em;
  color: #ffffff;
  font-weight: 700;
  background-color: #D58936;
  transition: background-color 0.2s;
}
.main1 .botnew #begbut:hover {
  background-color: #a66a29;
}
.main1 .containerm1-2 {
  display: flex;
  justify-content: center;
  height: 35em;
  width: 35em;
}
.main1 .containerm1-2 img {
  transform: scaleX(-1);
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 1200px) {
  .main1 {
    flex-direction: column;
    align-items: center;
    height: 25em;
    padding-top: 30em;
  }
  .main1 .containerm1-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-right: 0;
  }
  .main1 .middlenew h2 {
    font-size: 2.5em;
    text-align: center;
  }
  .main1 .middlenew p {
    font-size: 1em;
    text-align: center;
    font-weight: 400;
  }
  .main1 .botnew {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .main1 .botnew #mailbut {
    margin: 0;
    margin-bottom: 0.7em;
  }
  .main1 .botnew #begbut {
    width: 100%;
  }
  .main1 .containerm1-2 {
    width: 100%;
    height: 35em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .main1 .containerm1-2 img {
    width: 25em;
    height: 22em;
  }
}/*# sourceMappingURL=mainStyle.css.map */