@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap");
body {
  margin: 0px;
  padding: 0;
}

.banner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5em;
  height: 4.5em;
  top: 0;
  background-color: transparent;
}
.banner .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 3.5em;
  width: 12em;
}
.banner .ac-bot {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5em;
}
.banner .ac-bot a {
  text-decoration: none;
  color: white;
  margin: 0.7em;
  margin-top: 3em;
  margin-bottom: 3em;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 1em;
  cursor: pointer;
}
.banner .ac-bot a:hover {
  border-bottom: solid 3px #D58936;
}
.banner .logs {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5em;
}
.banner .account {
  display: none;
  align-items: center;
  justify-content: center;
}
.banner .account button.a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-right: -1em;
  color: #D58936;
  font-size: 1.2em;
  background-color: transparent;
  border: 2px solid #D58936;
  border-radius: 7px;
  padding: 0.3em 0.7em;
  transition: all 0.2s;
}
.banner .account button:hover {
  background-color: #D58936;
  color: white;
}
.banner .logs button {
  border: none;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 1em;
  cursor: pointer;
}
.banner .dropdown-center button {
  background-color: transparent;
  border: #ffffff solid 1px;
  border-radius: 7px;
  margin-right: 1.5em;
}
.banner .dropdown-menu {
  width: 5em;
  --bs-dropdown-min-width: 8.5rem;
}
.banner .dropdown-item {
  padding-left: 3.4rem;
}
.banner .dropdown-item:active {
  background-color: lightgray;
  color: black;
}
.banner .b2log {
  display: flex;
  background-color: #D58936;
  margin: 0.7em;
  margin-left: 0;
  padding: 0.6em 1.2em;
  color: #ffffff;
  border-radius: 7px;
  transition: background-color 0.2s;
}
.banner .b2log:hover {
  background-color: #a66a29;
}
@media (max-width: 1200px) {
  .banner .ac-bot {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .banner .logs {
    margin-top: 1em;
  }
  .banner .banner {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
@media (max-width: 300px) {
  .banner .ac-bot span {
    font-size: 0.7em;
  }
}

@media (max-width: 1200px) {
  .banner {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    top: 0;
    background-color: transparent;
  }
}
.background {
  background-image: url("https://wallpapercave.com/wp/wp10343429.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 105vh;
}

@media (max-width: 1200px) {
  .background {
    height: 125vh;
  }
}
@media (max-width: 992px) {
  .background {
    height: 265vh;
  }
}
@media (min-height: 915px) {
  .background {
    height: 220vh;
  }
}
@media (min-height: 750px) {
  .background {
    height: 210vh;
  }
}
@media (max-height: 420px) and (orientation: landscape) {
  .background {
    height: 120em;
  }
}
.container {
  width: 100%;
  height: 35em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 1em;
  padding-top: 5em;
  justify-content: space-evenly;
}

@media (max-width: 992px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95em;
  }
}
.pBasic, .pPro, .pPremium {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 1em black;
  border-radius: 0.7em;
  transition: all 0.2s ease-in-out;
}
.pBasic:hover, .pPro:hover, .pPremium:hover {
  transform: scale(1.01);
}
.pBasic h3, .pPro h3, .pPremium h3 {
  font-size: 2em;
  margin: 0.4em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pBasic hr, .pPro hr, .pPremium hr {
  margin: 0;
}
.pBasic .img, .pPro .img, .pPremium .img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.1em 1.4em;
}
.pBasic .img img, .pPro .img img, .pPremium .img img {
  width: 300px;
}
@media (max-width: 1200px) {
  .pBasic .img img, .pPro .img img, .pPremium .img img {
    width: 250px;
  }
}
.pBasic .botones, .pPro .botones, .pPremium .botones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
}
.pBasic .btn_buy, .pPro .btn_buy, .pPremium .btn_buy {
  margin: 0em 1.5em;
  background-color: #D58936;
  color: #ffffff;
  font-size: 1.5em;
  font-weight: 700;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12em;
  height: 2.5em;
  border-radius: 0.5em;
  border: none;
  transition: background-color 0.2s;
  cursor: pointer;
}
.pBasic .btn_buy:hover, .pPro .btn_buy:hover, .pPremium .btn_buy:hover {
  background-color: #a66a29;
}
.pBasic .btn_info, .pPro .btn_info, .pPremium .btn_info {
  margin: 1em 1.5em;
  margin-top: 0.5em;
  background-color: rgb(201, 201, 201);
  color: rgb(110, 110, 110);
  font-size: 1em;
  font-weight: 700;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12em;
  height: 2.5em;
  border-radius: 0.5em;
  border: none;
  transition: background-color 0.2s;
  cursor: pointer;
}
.pBasic .btn_info:hover, .pPro .btn_info:hover, .pPremium .btn_info:hover {
  background-color: rgb(182, 182, 182);
}
.pBasic .bought, .pPro .bought, .pPremium .bought {
  background-color: #a66a29;
  transition: none;
  cursor: not-allowed;
}
.pBasic .process, .pPro .process, .pPremium .process {
  background-color: #a66a29;
  transition: none;
  cursor: wait;
}
@media (max-width: 1200px) {
  .pBasic .btn_buy, .pPro .btn_buy, .pPremium .btn_buy {
    width: 9em;
  }
}

@media (max-width: 992px) {
  .pBasic, .pPro, .pPremium {
    margin-bottom: 2em;
    width: 25em;
  }
}
@media (max-width: 480px) {
  .pBasic, .pPro, .pPremium {
    width: 16em;
  }
}
.modal-header {
  background-color: #D58936;
  color: #ffffff;
}

.modal-body {
  padding: 1.8em;
}
.modal-body p {
  padding: 1em;
  border: solid #D58936 2px;
  border-radius: 0.5em;
}/*# sourceMappingURL=packs.css.map */